<section class="all-collections">
    <h1>Feature Collections</h1>
    <div class="collection-container">
        <div class="collection-wrapper">
            {% for collection in collection %}
                <h3>{{collection.title |  link_to: collection.url}}</h3>
                
            {% endfor %}
        </div>
    </div>

</section>
{% schema %}
{
    "name": "all-collections",
    "settings": [
        {
            "type": "color",
            "id": "background",
            "label": "Background color",
            "default": "#F4F4F4"
        },
        {
            "type": "color",
            "id": "text-color",
            "label": "text-color",
            "default": "#000000"
        }
        
        ],
        "presets": [
            {
                "name": "all-collections"
            }
        ]
}
{% endschema %}