{% if  section.settings.show-announcement-bar %} <section>
  <div class="announcement-bar">
    <div class="announcement-bar-left">
      {% if section.settings.image != blank  %} 
        <img width="40" height="40" loading="lazy" src="{{section.settings.image |  image_url }}" alt="">
        {% else %}
        <img width="40" height="40" loading="lazy" src="{{a.png |  asset_url }}" alt="">
       
       {% endif %}

    </div>
    <div class="announcement-bar-right">
      
    </div>

  </div>
</section> {% endif %}


{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
     
      "type": "checkbox",
      "default": true,
      "id": "show-announcement-bar",
      "label": "Show Announcement Bar"
    },
    {
     
      "type": "image_picker",
    
      "id": "image",
      "label": "Pick-image",
      "info": "png recommended format"
    }
  ],
    "presets": [ ]
}
{% endschema %}
