{% if section.settings['show_announcement-bar2'] %}
  {% if section.settings.home_page_only == false or template.name == 'index' %}
    {% if section.settings.link == blank %}
      <div>
    {% else %}
      <a href="{{ section.settings.link }}">
    {% endif %}
    <p>{{ section.settings.text | escape }}</p>
    {% if section.settings.link == blank %}
      </div>
    {% else %}
      </a>
    {% endif %}
  {% endif %}
{% endif %}

{% schema %}
{
 "name":"announcement-bar2",
  "settings":[
    {
      "type":"checkbox",
      "id":"show_announcement-bar2",
      "label":"announcement-bar2",
      "default":false

    },
    {
      "type":"checkbox",
      "id":"home_page_only",
      "label":"Home page only",
      "default":true
    },
    {
      "type":"text",
      "id":"text",
      "label":"Announcement-text",
      "default":"Announce something"
    },
    {
      "type":"url",
      "id":"link",
      "label":"Announcement link"
    }
  ]
}
{% endschema %}
