
<section class="more-info">
    <div class="more-info-wrapper">
        {% if section.settings.text != blank %}
            <h1>{{section.settings.text}}</h1>
            {% else %}
            <h1>THE RESOLUTIONS STARTER PACK</h1>  
        {% endif %}
        {% if section.settings.text2 !=blank %}
            <p>{{section.settings.text2}}</p>
            {% else %}
            <p>
                Go for all your fitness goals with a curated collection of new kicks breathable apparel, and more supportive
                styles
              </p>
            
        {% endif %}
        <button>Shop</button>

    </div>
</section>
<style>
    .more-info{
        background: {{section.settings.background}};
        color:{{section.settings.text-color}}
        ;
        display:flex;
        justify-content:center;
    }
    .more-info-wrapper{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        width:500px;
       
    }
    .more-info-wrapper h1 {
        font-size: 50px;
        font-weight: bolder;
        
        text-align: center;
    }
.more-info-wrapper button {
    background-color: black;
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 20px;
   
}
.more-info-wrapper button:hover {
    background-color: rgb(185, 185, 185);
   
}
    
</style>

{% schema %}
{
    "name": "More-info",
    "settings": [
        {
            "type": "color",
            "label": "Background",
            "id":"background",
            "default": "#F4F4F4"
        },
        {
            "type": "color",
            "id": "text-color",
            "label": "Text color",
            "default": "#000000"
            
        },
        {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Default Text"
        },{
            "type": "text",
            "id": "text2",
            "label": "Text2",
            "default": "Default Text2"
        }
        
        ],
        "presets": [
            {
                "name": "more-info"
            }
        ]
}
{% endschema %}